language: python
python:
  - 2.6
  - 2.7
env:
  - DJANGO=django==1.5.4
  - DJANGO=django==1.6
install:
  - pip install $DJANGO
  - python setup.py -q install
script: python src/test_project/manage.py test watson
notifications:
  email: false


